Repository hitachienergy/epiphany, pull requests merged in 2020-10, with the labels that each got.

#1720 Fix missing K8s metadata for Filebeat 7
  CHANGELOG-0.8.md
  core/src/epicli/data/common/ansible/playbooks/roles/filebeat/templates/filebeat.yml.j2
  docs/home/howto/LOGGING.md
Labels: area/logs

#1749 [v0.7] [RHEL/CentOS] Fix updating Elasticsearch v6
  CHANGELOG-0.7.md
  core/src/epicli/data/common/ansible/playbooks/roles/elasticsearch/tasks/RedHat.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/elasticsearch.yml
  core/src/epicli/data/common/ansible/playbooks/upgrade.yml
Labels: type/backport

#1753 document modules usage
  CHANGELOG-0.8.md
  docs/home/HOWTO.md
  docs/home/howto/modules.md
Labels: area/docs

#1796 Backport ability to change control plane certificates expiration date
  CHANGELOG-0.5.md
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/generate-certificates.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/templates/certificate-v3.ext.j2
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/templates/kubeadm-config.yml.j2
  core/src/epicli/data/common/defaults/configuration/kubernetes-master.yml
  docs/home/CERTIFICATES.md
Labels: area/kubernetes, type/backport

#1802 Backport ability to change control plane certificates expiration date
  CHANGELOG-0.6.md
  CHANGELOG-0.7.md
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/generate-certificates.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/templates/certificate-v3.ext.j2
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/templates/kubeadm-config.yml.j2
  core/src/epicli/data/common/defaults/configuration/kubernetes-master.yml
  docs/home/CERTIFICATES.md
Labels: area/kubernetes, type/backport

#1799 Backport ability to change control plane certificates expiration date
  CHANGELOG-0.6.md
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/generate-certificates.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/templates/certificate-v3.ext.j2
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/templates/kubeadm-config.yml.j2
  core/src/epicli/data/common/defaults/configuration/kubernetes-master.yml
  docs/home/CERTIFICATES.md
Labels: area/kubernetes, type/backport

#1812 Added k8s master config validation
  core/src/epicli/data/common/validation/configuration/kubernetes-master.yml
  docs/home/CERTIFICATES.md
Labels: area/kubernetes, type/backport

#1814 Add k8s master config validation
  core/src/epicli/data/common/validation/configuration/kubernetes-master.yml
  docs/home/CERTIFICATES.md
Labels: area/kubernetes, type/backport

#1813 Add k8s master config validation
  core/src/epicli/data/common/validation/configuration/kubernetes-master.yml
  docs/home/CERTIFICATES.md
Labels: area/kubernetes, type/backport
