Repository hitachienergy/epiphany, pull requests merged in 2020-06, with the labels that each got.

#1346 preflight_facts: fixing inability to disable kubernetes
  CHANGELOG-0.6.md
  CHANGELOG-0.7.md
  core/src/epicli/data/common/ansible/playbooks/roles/image_registry/tasks/gather-facts.yml
  core/src/epicli/data/common/ansible/playbooks/roles/preflight_facts/tasks/assert.yml
  core/src/epicli/data/common/ansible/playbooks/roles/preflight_facts/tasks/kubernetes.yml
  core/src/epicli/data/common/ansible/playbooks/roles/repository/tasks/gather-facts.yml
  core/src/epicli/data/common/validation/epiphany-cluster.yml
Labels: area/kubernetes, priority/critical-urgent

#1342 [DOC] Epiphany C4 model
  docs/architecture/current-c4/0_Epiphany_System_Context_Diagram.png
  docs/architecture/current-c4/1_Epiphany_Component_Diagram_execution_place.png
  docs/architecture/current-c4/2_Epiphany_Component_Diagram_human_interactions.png
  docs/architecture/current-c4/3_Epiphany_Component_Diagram_runtime_dependencies.png
  docs/architecture/current-c4/4_Epiphany_Component_Diagram_metrics_and_logs.png
  docs/architecture/current-c4/README.md
  docs/architecture/current-c4/c1-arch.puml
  docs/architecture/current-c4/c2-arch-1-execution.puml
  docs/architecture/current-c4/c2-arch-2-human-interactions.puml
  docs/architecture/current-c4/c2-arch-3-runtime-dependencies.puml
  docs/architecture/current-c4/c2-arch-4-metrics-and-logs.puml
Labels: area/docs

#1311 [DOC] Epicli UX design document inserted.
  docs/design-docs/cli/README.md
  docs/design-docs/cli/cli-ux.md
Labels: area/docs

#1379 Feature/restore and backup validation
  core/src/epicli/data/common/validation/configuration/backup.yml
  core/src/epicli/data/common/validation/configuration/recovery.yml
Labels: type/improvement

#1353 Vault MVP
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/centos-7/requirements.txt
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/redhat-7/requirements.txt
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/ubuntu-18.04/requirements.txt
  core/src/epicli/data/common/ansible/playbooks/roles/vault/files/configure-vault.sh
  core/src/epicli/data/common/ansible/playbooks/roles/vault/files/tls-certs/readme.md
  core/src/epicli/data/common/ansible/playbooks/roles/vault/files/vault/configure-vault.sh
  core/src/epicli/data/common/ansible/playbooks/roles/vault/files/vault/unseal-vault.sh
  core/src/epicli/data/common/ansible/playbooks/roles/vault/meta/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/vault/tasks/generate-certificate.yml
  core/src/epicli/data/common/ansible/playbooks/roles/vault/tasks/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/config.hcl.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/kubernetes/app-namespace.yml.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/kubernetes/app-service-account.yml.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/kubernetes/vault-endpoint-configuration.yml.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/kubernetes/vault-service-account.yml.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/script.config.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/vault/config.hcl.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/vault/policy-admin.hcl.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/vault/policy-application.hcl.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/vault/policy-provisioner.hcl.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/vault/script.config.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/vault/selfsigned.cfr.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/vault/users.csv.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/vault/vault.service.j2
  core/src/epicli/data/common/defaults/configuration/feature-mapping.yml
  core/src/epicli/data/common/defaults/configuration/image-registry.yml
  core/src/epicli/data/common/defaults/configuration/vault.yml
Labels: area/security, area/vault

#1386 kubernetes_master: correcting the "copy-kubernetes-pki" procedure
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/copy-kubernetes-pki.yml
Labels: type/bug

#1393 Feature/vault documentation
  core/src/epicli/data/common/ansible/playbooks/roles/vault/tasks/main.yml
  docs/home/COMPONENTS.md
  docs/home/HOWTO.md
  docs/home/SECURITY.md
  docs/home/howto/SECURITY.md
Labels: area/security, area/vault
