Repository hitachienergy/epiphany, pull requests merged in 2020-07, with the labels that each got.

#1425 [doc ] tests matrix
  docs/home/TESTING.md
Labels: area/docs, area/testing

#1427 Etcd encryption feature refactor for deployment and upgrades
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/copy-kubernetes-pki.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/etcd-encryption-init.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/etcd-encryption.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/templates/etc-encryption.conf.j2
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/templates/kubeadm-config.yml.j2
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes/etcd-encryption.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes/patch-kubeadm-config.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes/upgrade-kubeadm-config.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes/upgrade-master.yml
Labels: area/kubernetes, priority/critical-urgent

#1426 [doc ] Add CNS proposition design doc
  docs/design-docs/persistence-layer/README.md
Labels: area/docs, area/kubernetes, area/postgres

#1438 Rename vendor in VSCode recommendations
  core/src/epicli/.vscode/extensions.json
Labels: type/improvement

#1434 Fix issue with Vault and Kubernetes Calico/Canal communication
  core/src/epicli/data/common/ansible/playbooks/roles/vault/files/kubernetes/vault-namespace.yml
  core/src/epicli/data/common/ansible/playbooks/roles/vault/files/vault/configure-vault.sh
  core/src/epicli/data/common/ansible/playbooks/roles/vault/tasks/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/kubernetes/vault-default-policy.yml.j2
  core/src/epicli/data/common/ansible/playbooks/roles/vault/templates/kubernetes/vault-endpoint-configuration.yml.j2
  core/src/epicli/data/common/defaults/configuration/vault.yml
Labels: area/security, area/vault, type/bug

#1459 Changes in documentation after creating fix for calico and canal
  CHANGELOG-0.7.md
  docs/home/howto/SECURITY.md
Labels: area/security, area/vault

#1484 Fix upgrade of flannel to v0.12.0
  CHANGELOG-0.7.md
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/defaults/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/apply-cni-plugin.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/apply-coredns.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/cni-plugins/calico.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/cni-plugins/canal.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/cni-plugins/flannel.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/cni-plugins/wait-for-cni-plugin.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/deployments/apply-file.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/deployments/deploy-file.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/deployments/deploy-template.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/tasks/master-init.yml
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/templates/calico-for-k8s-below-1.16.yml.j2
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/templates/canal-for-k8s-below-1.16.yml.j2
  core/src/epicli/data/common/ansible/playbooks/roles/kubernetes_master/templates/kube-flannel.yml.j2
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes/downgrade-coredns.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes/gather-static-facts.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes/get-cni-plugin.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes/upgrade-cni-plugin-deployment.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes/upgrade-cni-plugin-pod.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes/upgrade-master0.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes/upgrade-masterN.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes/upgrade-network-components.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/kubernetes/upgrade-node.yml
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/templates/kubernetes/flannel-config-for-k8s-below-1.17.yml.j2
  core/src/epicli/data/common/ansible/playbooks/upgrade.yml
Labels: area/kubernetes, type/bug
