Repository hitachienergy/epiphany, pull requests merged in 2021-08, with the labels that each got.

#2468 [Upgrade] PostgreSQL 13
  CHANGELOG-1.2.md
  core/src/epicli/cli/engine/ansible/AnsibleVarsGenerator.py
  core/src/epicli/cli/epicli.py
  core/src/epicli/data/common/ansible/playbooks/roles/backup/tasks/postgresql.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/defaults/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/defaults/upgrade.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/molecule/verify-repmgr.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/extensions/pgaudit/packages.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/extensions/replication/extension.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/extensions/replication/packages.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/preflight/apply.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/preflight/upgrade.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/pgaudit/packages.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-new/packages.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-new/repmgr-conf.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-new/repmgr-register-primary.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-new/repmgr-register-standby.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-old/repmgr-main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-old/repmgr-upgrade.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/repmgr-main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/upgrade.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/templates/pg_hba.conf.j2
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/templates/pgpass-repmgr.j2
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/templates/pgpass.j2
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/templates/postgresql-epiphany.conf.j2
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/templates/postgresql.conf.j2
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/templates/recovery.conf.j2
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/templates/repmgr.conf.j2
  core/src/epicli/data/common/ansible/playbooks/roles/preflight/tasks/apply.yml
  core/src/epicli/data/common/ansible/playbooks/roles/preflight/tasks/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/preflight/tasks/upgrade.yml
  core/src/epicli/data/common/ansible/playbooks/roles/recovery/tasks/postgresql.yml
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/centos-7/requirements.aarch64.txt
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/centos-7/requirements.x86_64.txt
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/redhat-7/requirements.x86_64.txt
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/ubuntu-18.04/requirements.x86_64.txt
  core/src/epicli/data/common/ansible/playbooks/upgrade.yml
  core/src/epicli/data/common/tests/spec/postgresql/postgresql_spec.rb
  docs/home/COMPONENTS.md
  docs/home/HOWTO.md
  docs/home/howto/DATABASES.md
  docs/home/howto/PREREQUISITES.md
  docs/home/howto/UPGRADE.md
Labels: area/postgres

#2476 Allow multiple PostgreSQL nodes when repmgr is enabled
  CHANGELOG-1.2.md
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/molecule/debian-repmgr/molecule.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/molecule/redhat-repmgr/molecule.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/preflight/apply.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-new/repmgr-conf.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-new/repmgr-register-primary.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-new/repmgr-register-standby.yml
Labels: area/postgres

#2492 [PostgreSQL] [upgrade] Fix a few tasks and tests
  core/src/epicli/data/common/ansible/playbooks/preflight.yml
  core/src/epicli/data/common/ansible/playbooks/roles/applications/templates/pgbouncer/01-configmaps.yml.j2
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/pgaudit/packages.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-new/packages.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-new/repmgr-conf.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-new/repmgr-register-standby.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-new/repmgr-start-and-enable-service.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-new/repmgr-stop-and-disable-service.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/extensions/replication/pg-old/repmgr-main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/upgrade/upgrade.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/templates/pg_hba.conf.j2
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/templates/postgresql.conf.j2
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/ubuntu-18.04/add-repositories.sh
  core/src/epicli/data/common/ansible/playbooks/upgrade.yml
  core/src/epicli/data/common/tests/spec/postgresql/postgresql_spec.rb
  core/src/epicli/data/common/tests/spec/spec_helper.rb
Labels: area/postgres

#2499 Bump pgpool (v4.2.4), pgbouncer (v.1.16) / md5 passwords
  CHANGELOG-1.2.md
  core/src/epicli/data/common/ansible/playbooks/roles/applications/templates/pgbouncer/01-configmaps.yml.j2
  core/src/epicli/data/common/ansible/playbooks/roles/applications/templates/pgpool/02-configmaps.yml.j2
  core/src/epicli/data/common/ansible/playbooks/roles/applications/templates/pgpool/04-deployment.yml.j2
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/tasks/preflight/apply.yml
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/templates/pg_hba.conf.j2
  core/src/epicli/data/common/ansible/playbooks/roles/postgresql/templates/postgresql.conf.j2
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/centos-7/requirements.x86_64.txt
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/redhat-7/requirements.x86_64.txt
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/ubuntu-18.04/requirements.x86_64.txt
  core/src/epicli/data/common/defaults/configuration/applications.yml
  core/src/epicli/data/common/defaults/configuration/image-registry.yml
  core/src/epicli/data/common/defaults/configuration/postgresql.yml
  core/src/epicli/data/common/tests/spec/postgresql/postgresql_spec.rb
  core/src/epicli/data/common/validation/configuration/applications.yml
  docs/home/COMPONENTS.md
  docs/home/howto/DATABASES.md
Labels: area/postgres

#2506 [BACKPORTS][v1.0.0] - Upgrade Docker-CE to v20.10.8
  CHANGELOG-1.0.md
  core/src/epicli/cli/epicli.py
  core/src/epicli/data/common/ansible/playbooks/roles/docker/defaults/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/docker/tasks/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/centos-7/requirements.txt
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/redhat-7/requirements.txt
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/ubuntu-18.04/requirements.txt
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/docker.yml
  core/src/epicli/data/common/ansible/playbooks/upgrade.yml
  docs/home/COMPONENTS.md
Labels: type/backport

#2510 [BACKPORTS][v1.1.0] - Upgrade Docker-CE to v20.10.8
  CHANGELOG-1.1.md
  core/src/epicli/cli/epicli.py
  core/src/epicli/data/common/ansible/playbooks/roles/docker/defaults/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/docker/tasks/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/centos-7/requirements.aarch64.txt
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/centos-7/requirements.x86_64.txt
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/redhat-7/requirements.x86_64.txt
  core/src/epicli/data/common/ansible/playbooks/roles/repository/files/download-requirements/ubuntu-18.04/requirements.x86_64.txt
  core/src/epicli/data/common/ansible/playbooks/roles/upgrade/tasks/docker.yml
  core/src/epicli/data/common/ansible/playbooks/upgrade.yml
  docs/home/COMPONENTS.md
Labels: type/backport

#2520 Update VS Code extensions
  core/src/epicli/.devcontainer/Dockerfile
  core/src/epicli/.devcontainer/devcontainer.json
  core/src/epicli/.vscode/extensions.json
  core/src/epicli/.vscode/settings.json
Labels: area/development
