Repository hitachienergy/epiphany, pull requests merged in 2021-01, with the labels that each got.

#1946 Fix automated tests for RabbitMQ
  core/src/epicli/data/common/tests/spec/rabbitmq/rabbitmq_spec.rb
  core/src/epicli/data/common/tests/spec/spec_helper.rb
Labels: area/rabbit, area/testing

#1961 Fix automated tests for Zookeeper
  core/src/epicli/data/common/ansible/playbooks/roles/zookeeper/tasks/main.yml
  core/src/epicli/data/common/ansible/playbooks/roles/zookeeper/templates/zoo.cfg.j2
  core/src/epicli/data/common/ansible/playbooks/roles/zookeeper/templates/zoo.j2
  core/src/epicli/data/common/defaults/configuration/zookeeper.yml
  core/src/epicli/data/common/tests/spec/kafka/kafka_spec.rb
  core/src/epicli/data/common/tests/spec/zookeeper/zookeeper_helpers.rb
  core/src/epicli/data/common/tests/spec/zookeeper/zookeeper_spec.rb
Labels: area/kafka, area/testing

#1995 Add disclaimer about using antivirus/antimalware solution
  docs/home/SECURITY.md
Labels: area/security
